@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@SharedLocalizer["error."]</h1>
<h2 class="text-danger">@SharedLocalizer["error_occured"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@SharedLocalizer["request_id:"]</strong> <code>@Model.RequestId</code>
    </p>
}
<script>
    $(document).ready(function () {
        $(".main-header").hide();
        $(".main-sidebar").hide();
        $(".pb-3").css("padding", "10px");
    });
</script>

<h2>
   @SharedLocalizer["please_try_again"]
</h2>
<h2>
    @SharedLocalizer["go_back_to"] <a asp-page="/Admin/Dashboard">@SharedLocalizer["dashboard"]</a>.
</h2>

